<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>Help page</title>
</head>
<body>
{{> header}}
<p> Some Text Here</p>
<!-- already made tempelate i.e partials ko use karne ka syntax -->
{{> footer}}
</body>
</html>
